{% if field.value|length == 0 %}
    <div>No passengers found for this flight.</div>
{% else %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Passenger Name</th>
                <th>Age</th>
                <th>Seat Number</th>
                <th>Seat Class</th>
                <th>Mobile Number</th>
            </tr>
        </thead>
        <tbody>
            {% for passenger in field.value %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ passenger.name | capitalize }}</td>
                    <td>{{ passenger.age }}</td>
                    <td>{{ passenger.seatNumber }}</td>
                    <td>{{ passenger.booking.seatClass|capitalize }}</td>
                    <td>{{ passenger.booking.mobileNumber ?? 'N/A' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
